.contenedor-widget-encuesta {
  width: 335px;
  /*Segunda pantalla*/
}
.contenedor-widget-encuesta .oc-widget-encuesta {
  width: 100%;
  height: 400px;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}
.contenedor-widget-encuesta .oc-widget-encuesta__body {
  padding: 1em 1.5em;
}
.contenedor-widget-encuesta .oc-widget-encuesta__top-bar {
  width: 100%;
  background-color: #505D6C;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contenedor-widget-encuesta .oc-widget-encuesta__top-bar__left {
  display: flex;
  align-items: center;
}
.contenedor-widget-encuesta .oc-widget-encuesta__top-bar__left span {
  color: white;
  font-size: 1.5em;
  font-family: "cabin-bold", sans-serif;
}
.contenedor-widget-encuesta .oc-widget-encuesta__top-bar__right {
  display: flex;
  align-items: center;
}
.contenedor-widget-encuesta .oc-widget-encuesta__date p {
  text-align: center;
  margin: 0;
  font-size: 13px;
  font-family: "roboto-c-regular", sans-serif;
}
.contenedor-widget-encuesta .oc-widget-encuesta__date hr {
  width: 100%;
  color: rgba(112, 112, 112, 0.2);
}
.contenedor-widget-encuesta .oc-widget-encuesta__question p {
  text-align: left;
  font-size: 18px;
  font-family: "roboto-c-bold", sans-serif;
  margin: 0;
}
.contenedor-widget-encuesta .oc-widget-encuesta__question hr {
  width: 100%;
  color: rgba(112, 112, 112, 0.2);
}
.contenedor-widget-encuesta .oc-widget-encuesta__options hr {
  margin: 0.7em 0;
  color: rgba(112, 112, 112, 0.2);
}
.contenedor-widget-encuesta .oc-widget-encuesta__options hr:last-child {
  margin-bottom: 5px;
}
.contenedor-widget-encuesta .oc-widget-encuesta__options label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
}
.contenedor-widget-encuesta .oc-widget-encuesta__options .checkmark {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  left: 0;
  bottom: 0;
  cursor: pointer;
}
.contenedor-widget-encuesta .oc-widget-encuesta__options .checkmark::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0px;
  height: 0px;
  background: white;
  border-radius: 50%;
  transition: all 0.2s;
}
.contenedor-widget-encuesta .oc-widget-encuesta__options .checkmark:hover::before, .contenedor-widget-encuesta .oc-widget-encuesta__options .checkmark.active::before {
  width: 10px;
  height: 10px;
  left: calc( 50% - (10px / 2) );
  top: calc( 50% - (10px / 2) );
}
.contenedor-widget-encuesta .oc-widget-encuesta__options input {
  position: relative;
  background: red;
  margin-right: 10px;
}
.contenedor-widget-encuesta .oc-widget-encuesta__options .c-yellow {
  background-color: #FFDD00;
}
.contenedor-widget-encuesta .oc-widget-encuesta__options .c-green {
  background-color: #00AF00;
}
.contenedor-widget-encuesta .oc-widget-encuesta__options .c-blue {
  background-color: #005FC8;
}
.contenedor-widget-encuesta .oc-widget-encuesta__options .c-gray {
  background-color: #505D6C;
}
.contenedor-widget-encuesta .oc-widget-encuesta__options span {
  font-size: 15px;
  font-family: "roboto-c-regular", sans-serif;
}
.contenedor-widget-encuesta .oc-widget-encuesta__finish-date p {
  text-align: center;
  font-size: 13px;
  font-family: "roboto-c-regular", sans-serif;
  margin-top: 0;
}
.contenedor-widget-encuesta .oc-widget-encuesta__buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.contenedor-widget-encuesta .oc-widget-encuesta__buttons .btn-widgets {
  display: inline-block;
  margin: 5px;
  padding: 0.5em 1.5em;
  background-color: #ABBCC7;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-family: "cabin-bold", sans-serif;
  font-size: 13px;
  line-height: 1em;
  border: none;
  cursor: not-allowed;
}
.contenedor-widget-encuesta .oc-widget-encuesta__buttons .btn-widgets.btn-active {
  background-color: black;
  cursor: pointer;
}

#wdg-results {
  display: none;
}

.oc-widget-encuesta .oc-widget-encuesta__car {
  background-color: #F0F1F3;
}
.oc-widget-encuesta__body-modal {
  padding: 0.8em;
  height: 100%;
}
.oc-widget-encuesta__modal {
  position: relative;
  overflow: hidden;
}
.oc-widget-encuesta__modal-close {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: #ffffff;
  width: 19px;
  height: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #C1CACF;
  font-family: "roboto-bold";
  color: #505D6C;
  cursor: pointer;
  z-index: 1;
}
.oc-widget-encuesta__modal-title p {
  font-family: "roboto-c-bold";
  color: #000000;
  font-size: 18px;
  margin-top: 0.4em;
}
.oc-widget-encuesta__modal-itembar p {
  margin-bottom: 0.2em;
  font-size: 16px;
  font-family: "roboto-c-regular";
}
.oc-widget-encuesta__modal-item {
  padding: 1em 0.7em;
}
.oc-widget-encuesta__modal-content {
  width: 90%;
}
.oc-widget-encuesta .oc-progress-bar {
  width: 100%;
  height: 17px;
  background-color: #ffffff;
  border-radius: 20px;
}
.oc-widget-encuesta .oc-progress-bar__container {
  position: relative;
}
.oc-widget-encuesta .oc-progress {
  height: 17px;
  width: 0%;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 14px;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
  box-sizing: border-box;
  font-family: "roboto-c-regular";
}
.oc-widget-encuesta .oc-progress__color-01 {
  background-color: #FFDD00;
}
.oc-widget-encuesta .oc-progress__color-02 {
  background-color: #00AF00;
}
.oc-widget-encuesta .oc-progress__color-03 {
  background-color: #005FC8;
}
.oc-widget-encuesta .oc-progress__color-04 {
  background-color: #505D6C;
}
.oc-widget-encuesta .oc-profile-date span {
  color: white;
  font-family: "cabin-bold", sans-serif;
  font-size: 23px;
}
.oc-widget-encuesta .slick-list {
  height: 320px !important;
}
.oc-widget-encuesta__table {
  width: 100%;
  border-spacing: 0;
}
.oc-widget-encuesta__table td {
  border-top: 1px solid #707070;
  padding: 0.8em 0;
}
.oc-widget-encuesta__table .title {
  font-family: "roboto-light";
  color: #000000;
  font-size: 16px;
}
.oc-widget-encuesta__table .date {
  font-family: "roboto-c-bold";
  color: #000000;
  font-size: 18px;
}

/*# sourceMappingURL=widget-encuesta.css.map */
