@import fonts

h1, h2, h3
    font-family: "cabin-bold", sans-serif
p
    font-family: "roboto-medium", sans-serif

.oc-button-close
    display: inline-flex
    width: 30px
    height: 30px
    text-align: center
    justify-content: center
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    img
        margin: auto
        width: 13px
.oc-button-menu
    background: transparent
    border: none
    display: flex
    align-items: center
    justify-content: space-between
    width: 28px
    height: 25px
    outline: none
    cursor: pointer
    .line
        width: 2px
        height: 100%
        background-color: white
        display: inline-block
.spacing
    margin: 2em

// Slick styles
.oc-slick-theme
    .slick-dots
        position: absolute
        height: 100%
        top: -10%
        display: flex
        flex-direction: column
        justify-content: center
        right: 15px
        padding: 0
        li
            list-style: none
            width: 9px
            height: 9px
            margin: 10px 0
            background-color: white
            border: 1px solid #505D6C
            cursor: pointer
            border-radius: 50%
            &.slick-active
                background-color: #505D6C
        button
            display: none


@media screen and ( max-width: 480px )
    .oc-slick-theme
        .slick-dots
            top: unset !important
            bottom: -30px !important
            flex-direction: row
            height: auto
            width: 100%
            justify-content: center
            right: 0
            left: 0
            padding: 0
            margin: 0
            li
                margin: 10px
    