@import fonts

h1, h2, h3
    font-family: "cabin-bold", sans-serif
p
    font-family: "roboto-medium", sans-serif

.oc-button-close
    display: inline-flex
    width: 30px
    height: 30px
    text-align: center
    justify-content: center
    align-items: center
    background-color: transparent
    border: none
    cursor: pointer
    img
        margin: auto
        width: 13px
.oc-button-menu
    background: transparent
    border: none
    display: flex
    align-items: center
    justify-content: space-between
    width: 28px
    height: 30px
    outline: none
    cursor: pointer
    .line
        width: 2px
        height: 100%
        background-color: white
        display: inline-block