.oc-widget-content
    width: 670px
    height: 400px
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2)
    &__top-bar
        width: 100%
        background-color: #505D6C
        display: flex
        justify-content: space-between
        align-items: center
        &__left
            display: flex
            align-items: center
            span
                color: white
                font-size: 1.5em
                font-family: "cabin-bold", sans-serif
        &__right
            display: flex
            align-items: center
    &__notices
        display: flex
        padding: 1em 1em
        &__left
            width: 50%
            padding: 0 1.5em
            img
                width: 100%
            p
                font-size: .8em
                color: #95A6B1
            &__cont-sub
                display: flex
                align-items: center
                justify-content: space-between
                &__subtitle
                    background-color: #0EB414
                    padding: 0.2em 4em 0 0.3em
                    color: white
                    font-family: "cabin-bold", sans-serif
                &__date
                    font-family: "roboto-medium", sans-serif
                    color: #95A6B1
                    font-size: .8em
            &__cont
                display: flex
                align-items: center
                justify-content: space-between
                &__button
                    a
                        background-color: #0EB414
                        color: white
                        text-decoration: none
                        font-family: "cabin-bold", sans serif
                        padding: .3em 2em
                        border-radius: 25px
                        display: inline-block
                        font-size: .8em
                &__icons
                    display: flex
                    align-items: center
                    ul
                        list-style: none
                        li
                            padding: 0
                            display: flex
                            align-items: center
                        span
                            font-size: 1.1em
                            font-family: "roboto-medium", sans-serif
                            color: #706F6F
                        img
                            width: 30px
